@import './button.scss';
@import './blocks.scss';
@import './dialog.scss';
@import './input.scss';
@import './text.scss';
@import './card.scss';

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}